<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
        
            <div class="text-value">9.823</div>
            <div>Members online</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
            
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-primary">
          <div class="card-body pb-0">
            <div class="text-value">9.823</div>
            <div>Members online</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
           
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-warning">
          <div class="card-body pb-0">
            
            <div class="text-value">9.823</div>
            <div>Members online</div>
          </div>
          <div class="chart-wrapper mt-3" style="height:30px;">
            
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-danger">
          <div class="card-body pb-0">
            
            <div class="text-value">9.823</div>
            <div>Members online</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
           
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->  
  </div>



  <!-- sidebar -->

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
           <div class="sidebar">
               <div class="logo_content">
                 <i class="btn bx bx-menu"></i>
                 <div class="logo">AppIndia</div>
               </div>
               <ul class="nav_list">
                 <li>
                   <a href="">
                     <i class='bx bxs-grid'></i>
                     <span class="link_name">dashboard</span>
                   </a>
                 </li>
                 <li>
                   <a href="">
                     <i class='bx bxs-user-detail' ></i>
                     <span class="link_name">Users</span>
                   </a>
                 </li>
                <li>
                 <a href="">
                   <i class='bx bxs-contact'></i>
                   <span class="link_name">Contact</span>
                 </a>
                </li>
               </ul>
             </div>
        </div>
        <div class="col-md-9">
         
        </div>
    </div>
</div>