



/* Header Menu */
.iconStyle
{
    color: #15b000;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}


.setAdminImg{
    width: 37px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;

}

.setAdminImg1{
    width: 60px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;

}

.set_app{
    color: #f55d4e;
    font-weight: bold;
}
.set_india{
    color: rgb(16 45 111);
    font-weight: bold;
}



.cardOne {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left: 0px;
    /* width: 315px; */
    margin-top: -8px;

}


@media screen and (max-height: 450px) {
    /* .dropdown-menu.show {
        display: block;
        margin-left: 18px;
        margin-top: 8px;
    }   */
}
/* sideNav Css */
