<div class="card" style="border-radius: 0px;">
    <div class="card-body">
        <img src="/assets/appin1.png" class="setAdminImg1"><span class="set_app"> App</span> <span
            class="set_india">India</span>
        <div class="dropdown" style="float: right;">
            <i class="float-right " id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/assets/adm1.png" class="setAdminImg">
            </i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" 
            style="margin: 0px;inset: 15px auto auto 0px;transform: translate(-270px, 29px);">
                <li>
                    <div class="navbar-login">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="cardOne">
                                    <div class="card-header">
                                        <strong>Admin Details</strong>
                                    </div>
                                    <div class="card-body text-center">
                                        <div> {{user.fullName}}</div>
                                        <div>{{user.email}}</div>
                                        <div> {{user.contact}}</div>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-danger shadow-none" (click)="logOut()"
                                            style="width: 100%;">Log Out</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>
<div class="container">
    <router-outlet> </router-outlet>
</div>

